{% extends "base.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="{{url_for('static',filename='insights.css')}}">
    <script src="https://cdn.plot.ly/plotly-3.3.0.min.js"></script>
{% endblock %}

{% block content %}
    <div class="heading">
        <h2>Feature Insights Against Churn</h2>
    </div>
    <div class="chart_c1">
        <div class="chart">
            <h3>Credit Score vs Churn Insight</h3>
            {{credit_vs_churn | safe}}
        </div>
        <div class="chart">
            <h3>Location vs Churn Insight</h3>
            {{geography_vs_churn | safe}}
        </div>
    </div>
    <div class="chart_c2">
        <div class="chart">
            <h3>Product Usage vs Churn Insight</h3>
            {{products_vs_churn | safe}}
        </div>
        <div class="chart">
            <h3>Balance vs Churn Insight</h3>
            {{balance_vs_churn | safe}}
        </div>
    </div>
{% endblock %}