:root{
    --primary_bg:#0E1117;
    --seonday_bg:#161B22;
    --accent:#00FFFF;
    --accent_hover:#00B4D8;
    --second_accent:#FF6B6B;
    --text_pri:#E6EDF3;
    --text_second:#8B949E;
    
}

.stApp {
    background-color: var(--primary_bg);
    color: var(--text_pri);
}

img[data-testid='stHeaderLogo']{
    height: 100px;
    width: 100px;
    margin-top: 60px;
}

img[data-testid='stSidebarLogo']{
    height: 70px;
    width: 70px;
    margin-top: 20px;
}

div[data-testid='stSidebarNavLinkContainer']{
    padding-top: 20px;
}

div[data-testid='stPageLink']{
    background-color: var(--seonday_bg);
    border-radius: 6px;
    padding: 19px 38px;
    border: 1px solid #30363d;
}

a[data-testid='stSidebarNavLink']{
    border: 1px solid var(--accent);
    border-radius: 8px;
    padding: 5px 15px;
}

a[data-testid='stSidebarNavLink']:hover{
    background-color: var(--accent_hover);
}

.nav_cont{
    text-decoration: none;
    padding: 20px 50px;
    background-color: var(--seonday_bg);
    border: 1px solid var(--accent);
    text-align: center;
    border-radius: 10px;
    color: var(--text_pri);
}

.nav_cont:hover{
    background-color: var(--accent_hover);
}

div[data-testid='stExpander']{
    margin-bottom: 20px;
    border: 1px solid var(--accent);
    border-radius: 10px;
}

div[data-testid='stExpander']:hover{
    background-color: var(--accent_hover);
}

span[data-testid='stIconMaterial']{
    color: var(--accent);
}

div[data-testid='stFormSubmitButton']{
    margin-left: 85px;
    border: 1px solid var(--accent);
    background-color: var(--seonday_bg);
    border-radius: 10px;
}

div[data-testid='stFormSubmitButton']:hover{
    background-color: var(--accent_hover);
}

section[data-testid='stSidebar']{
    border: 1px solid var(--accent);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}