:root{
    --icici_orange:#D35400;
    --deep_maroon:#7B241C;
    --dark_grey:#2C3E50;
    --light_grey_bg:#F8F9F9;
    --white:#FFFFFF;
}
body{
    margin: 0px 0px;
}

.main_container{
    display: flex;
    flex-direction: column;
}

.top_container{
    display: flex;
    flex-direction: row;
    background-color: var(--light_grey_bg);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #D5D8DC;
}

.top_container h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.bottom_container{
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: #1B2631;
    width: 220px;
}

.page_nav{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
}

.page_nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ECF0F1;
    margin-bottom: 40px;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page_nav a:active{
    border-left: 4px solid #D35400;
    background-color: #273746;
}

.page_nav a:hover{
    background-color: #273746;
    cursor: pointer;
}

.dashboard{
    background-color: #F4F6F7;
    width: 100%;
}