:root{
    --icici_orange:#D35400;
    --deep_maroon:#7B241C;
    --dark_grey:#2C3E50;
    --light_grey_bg:#F8F9F9;
    --white:#FFFFFF;
}
body{
    margin: 0px 0px;
}

.main_container{
    display: flex;
    flex-direction: column;
}

.top_container{
    display: flex;
    flex-direction: row;
    background-color: var(--light_grey_bg);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #D5D8DC;
}

.top_container h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.bottom_container{
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: #1B2631;
    height: 100vh;
    width: 220px;
}

.page_nav{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
}

.page_nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ECF0F1;
    margin-bottom: 40px;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page_nav a:active{
    border-left: 4px solid #D35400;
    background-color: #273746;
}

.page_nav a:hover{
    background-color: #273746;
    cursor: pointer;
}

.dashboard{
    background-color: #F4F6F7;
    width: 100%;
}

.heading{
    margin-top: 35px;
}


.heading h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid var(--dark_grey);
    margin-left: 350px;
    margin-right: 350px;
    padding-left: 60px;
}

.form_container{
    margin-top: 35px;
    margin-left: 260px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.btn{
    border: 2px solid var(--deep_maroon);
    background-color: var(--deep_maroon);
    border-radius: 6px;
    padding: 3px 15px;
    color: var(--light_grey_bg);
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover{
    background-color: transparent;
    color: var(--deep_maroon);
    cursor: pointer;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}

.card{
    border: 1px solid #D5D8DC;
    border-left: 6px solid var(--icici_orange);
    border-radius: 8px;
    background-color: white;
    width: 400px;
    height: 250px;
}
.details{
    padding-top: 20px;
}

.details li{
    padding-bottom: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.card h3{
    padding-top: 10px;
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.custom_file_label{
    padding: 3px 15px;
    border: 2px solid var(--icici_orange);
    border-radius: 6px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.custom_file_label:hover{
    background-color: var(--icici_orange);
}

.expander{
    margin-top: 40px;
    border: 2px solid var(--icici_orange);
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    cursor: pointer;
    margin-bottom: 40px;
}

.data_preview{
    padding-left: 20px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

summary::marker{
    color: var(--icici_orange);
}

.csv_download{
    text-decoration: none;
    padding: 5px 15px;
    background-color: var(--deep_maroon);
    color: var(--light_grey_bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    border: 2px solid var(--deep_maroon);
    border-radius: 6px;
    margin-left: 420px;
}

.csv_download:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--deep_maroon);
}