:root{
    --icici_orange:#D35400;
    --deep_maroon:#7B241C;
    --dark_grey:#2C3E50;
    --light_grey_bg:#F8F9F9;
    --white:#FFFFFF;
}

.heading{
    margin-top: 35px;
}


.heading h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 550px;
}

.form_container{
    margin-top: 50px;
    margin-left: 400px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.btn{
    border: 2px solid var(--deep_maroon);
    background-color: var(--deep_maroon);
    border-radius: 6px;
    padding: 3px 15px;
    color: var(--light_grey_bg);
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover{
    background-color: transparent;
    color: var(--deep_maroon);
    cursor: pointer;
}

.success{
    margin-top: 25px;
    margin-right: 375px;
    color: var(--light_grey_bg);
    padding: 10px 15px;
    background-color: rgb(14, 71, 14);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.info{
    margin-top: 25px;
    margin-right: 375px;
    color: var(--light_grey_bg);
    padding: 10px 15px;
    background-color: rgb(88, 20, 20);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}

.card{
    border: 1px solid #D5D8DC;
    border-left: 6px solid var(--icici_orange);
    border-radius: 8px;
    background-color: white;
    width: 400px;
    height: 250px;
}
.details{
    padding-top: 20px;
}

.details li{
    padding-bottom: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.card h3{
    padding-top: 5px;
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.custom_file_label{
    padding: 3px 15px;
    border: 2px solid var(--icici_orange);
    border-radius: 6px;
    color: black;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.custom_file_label:hover{
    background-color: var(--icici_orange);
}

.expander{
    margin-top: 40px;
    border: 2px solid var(--icici_orange);
    border-radius: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 160px;
    margin-right: 160px;
    cursor: pointer;
    margin-bottom: 40px;
}

.data_preview{
    padding-left: 20px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

summary::marker{
    color: var(--icici_orange);
}

.table_scroll{
    max-height: 350px;
    max-width: 940px;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

table {
    border-collapse: collapse;
    margin: 30px auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background: #f2f2f2;
}

.csv_download{
    text-decoration: none;
    padding: 5px 15px;
    background-color: var(--deep_maroon);
    color: var(--light_grey_bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    border: 2px solid var(--deep_maroon);
    border-radius: 6px;
    margin-left: 550px;
}

.csv_download:hover{
    cursor: pointer;
    background-color: transparent;
    color: var(--deep_maroon);
}

.end{
    margin-top: 50px;
    margin-bottom: 50px;
}