:root{
    --icici_orange:#D35400;
    --deep_maroon:#7B241C;
    --dark_grey:#2C3E50;
    --light_grey_bg:#F8F9F9;
    --white:#FFFFFF;
}

.heading{
    margin-top: 35px;
}


.heading h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 530px;
}

.form_container{
    margin-top: 50px;
    margin-left: 420px;
    margin-bottom: 50px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 60px;
}

.input_field{
    border: 2px solid var(--icici_orange);
    border-radius: 6px;
    width: 120px;
    height: 25px;
}

.btn{
    border: none;
    background-color: var(--deep_maroon);
    border-radius: 4px;
    margin-left: 10px;
    padding: 4px 10px;
    color: var(--light_grey_bg);
}

.btn:hover{
    background-color: var(--light_grey_bg);
    border: 1px solid var(--deep_maroon);
    color: var(--deep_maroon);
    cursor: pointer;
}

.success{
    margin-top: 25px;
    margin-right: 420px;
    color: var(--light_grey_bg);
    padding: 10px 15px;
    background-color: rgb(14, 71, 14);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.info{
    margin-top: 25px;
    margin-right: 420px;
    color: var(--light_grey_bg);
    padding: 10px 10px;
    background-color: rgb(88, 20, 20);
    border: none;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.profile_risk_card1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.card1{
    border: 1px solid #D5D8DC;
    border-left: 6px solid var(--icici_orange);
    border-radius: 8px;
    background-color: white;
    width: 400px;
    height: 250px;
}
.details{
    padding-top: 10px;
}

.details li{
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.card2{
    border: 1px solid #D5D8DC;
    border-left: 6px solid var(--icici_orange);
    border-radius: 8px;
    background-color: white;
    width: 400px;
    height: 250px;
}

.card2 h3{
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.card1 h3{
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.profile_risk_card2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}