:root{
    --icici_orange:#D35400;
    --deep_maroon:#7B241C;
    --dark_grey:#2C3E50;
    --light_grey_bg:#F8F9F9;
    --white:#FFFFFF;
}
body{
    margin: 0px 0px;
}

.main_container{
    display: flex;
    flex-direction: column;
}

.top_container{
    display: flex;
    flex-direction: row;
    background-color: var(--light_grey_bg);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    justify-content: space-between;
    border-bottom: 1px solid #D5D8DC;
}

.top_container h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.bottom_container{
    display: flex;
    flex-direction: row;
}

.sidebar{
    background-color: #1B2631;
    /* height: 100vh; */
    width: 220px;
}

.page_nav{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    width: 100%;
}

.page_nav a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ECF0F1;
    margin-bottom: 40px;
    background-color: transparent;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.page_nav a:active{
    border-left: 4px solid #D35400;
    background-color: #273746;
}

.page_nav a:hover{
    background-color: #273746;
    cursor: pointer;
}

.dashboard{
    background-color: #F4F6F7;
    width: 100%;
}

.heading{
    margin-top: 35px;
}


.heading h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid var(--dark_grey);
    margin-left: 350px;
    margin-right: 350px;
    padding-left: 60px;
}

.form_container{
    margin-top: 35px;
    margin-left: 350px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10px;
}

.input_field{
    border: 2px solid var(--icici_orange);
    border-radius: 6px;
    width: 120px;
    height: 25px;
}

.btn{
    border: none;
    background-color: var(--deep_maroon);
    border-radius: 4px;
    margin-left: 10px;
    padding: 4px 10px;
    color: var(--light_grey_bg);
}

.btn:hover{
    background-color: var(--light_grey_bg);
    border: 1px solid var(--deep_maroon);
    color: var(--deep_maroon);
    cursor: pointer;
}

.profile_risk_card1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.card1{
    border: 1px solid #D5D8DC;
    border-left: 6px solid var(--icici_orange);
    border-radius: 8px;
    background-color: white;
    width: 400px;
    height: 250px;
}
.details{
    padding-top: 10px;
}

.details li{
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.card2{
    border: 1px solid #D5D8DC;
    border-left: 6px solid var(--icici_orange);
    border-radius: 8px;
    background-color: white;
    width: 400px;
    height: 250px;
}

.card2 h3{
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.profile_risk_card2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 40px;
}