:root{
    --icici_orange:#D35400;
    --deep_maroon:#7B241C;
    --dark_grey:#2C3E50;
    --light_grey_bg:#F8F9F9;
    --white:#FFFFFF;
}

.heading{
    margin-top: 35px;
}


.heading h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 480px;
}

.kpis{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
}

.kpi{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 12px 0px;
    padding-left: 20px;
    background-color: var(--icici_orange);
    border: none;
    border-radius: 8px;
    width: 215px;
    height: 110px;
}

.kpi_title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 15px;
}

.kpi_value{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light_grey_bg);
    font-size: 25px;
}

.chart_c1{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: space-around;
}

.chart_c2{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-around;
    margin-bottom: 60px;
}

.chart{
    border: 1px solid #D5D8DC;
    border-left: 6px solid var(--icici_orange);
    border-radius: 8px;
    background-color: white;
    width: 500px;
    height: 330px;
}

.chart h3{
    padding-top: 5px;
    padding-left: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

