{% extends "base.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="{{url_for('static',filename='batch_prediction.css')}}">
    <script src="https://cdn.plot.ly/plotly-3.3.0.min.js"></script>
{% endblock %}

{% block content %}
    <div class="heading">
        <h2>Batch Prediction</h2>
    </div>
    <div class="form_container">
        <form method="post" action="/batch_prediction" enctype="multipart/form-data">
            <label>Upload CSV to Predict Churn :</label>
            <input type="file" id="myfile" name="file" hidden>
            <label for="myfile" class="custom_file_label">Choose File</label>
            <input type="submit" value="Upload File" class="btn">
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category,msg in messages %}
                <p class="{{category}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="cards">
        <div class="card">
            <ul class="details" style="list-style-type: none;">
                <li>Total Customers Processed :  {{process_bulk[0]}}</li>
                <li>High Risk :  {{process_bulk[1]}}</li>
                <li>Medium Risk :  {{process_bulk[2]}}</li>
                <li>Low Risk :  {{process_bulk[3]}}</li>
            </ul>
        </div>
        <div class="card">
            <h3>Risk Distribution</h3>
            {{process_bulk[4] | safe}}
        </div>
    </div>
    <div class="expander">
        <details class="data_preview">
            <summary>Table Preview – High Risk rows highlighted</summary>
            <div class="table_scroll">
                {{process_bulk[5] | safe}}
            </div>
        </details>
    </div>
    <a class="csv_download" href="{{url_for('download_csv')}}">Download Results as CSV</a>
    <div class="end"></div>
{% endblock %}