{% extends "base.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="{{url_for('static',filename='batch_prediction.css')}}">
{% endblock %}

{% block content %}
    <div class="heading">
        <h2>Batch Prediction</h2>
    </div>
    <div class="form_container">
        <form method="post" action="/batch_prediction" enctype="multipart/form-data">
            <label>Upload CSV to Predict Churn :</label>
            <input type="file" id="myfile" name="file" hidden>
            <label for="myfile" class="custom_file_label">Choose File</label>
            <input type="submit" value="Upload File" class="btn">
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category,msg in messages %}
                <p class="{{category}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="cards">
        <div class="card">
            <ul class="details" style="list-style-type: none;">
                <li>Total Customers Processed :</li>
                <li>High Risk :</li>
                <li>Medium Risk :</li>
                <li>Low Risk :</li>
            </ul>
        </div>
        <div class="card">
            <h3>Chart Area</h3>
        </div>
    </div>
    <div class="expander">
        <details class="data_preview">
            <summary>Table Preview – High Risk rows highlighted</summary>
        </details>
    </div>
    <a class="csv_download" href="" download="Process_Data.csv">Download Results as CSV</a>
{% endblock %}