{% extends "base.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="{{url_for('static',filename='customer_lookup.css')}}">
{% endblock %}

{% block content %}
    <div class="heading">
        <h2>Customer Lookup</h2>
    </div>
    <div class="form_container">
        <form method="post" action="/customer_lookup">
            <label>Customer ID</label>
            <input type="text" name="customer" class="input_field" placeholder="Enter Customer ID">
            <input type="submit" value="Search" class="btn">
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category,msg in messages %}
                <p class="{{category}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="profile_risk_card1">
        <div class="card1">
            <ul style="list-style-type: none;" class="details">
                <li>Name :</li>
                <li>Age :</li>
                <li>Geography :</li>
                <li>Balance :</li>
                <li>Products :</li>
                <li>Active Member :</li>
            </ul>
        </div>
        <div class="card2">
            <h3>Churn Probability :</h3>
        </div>
    </div>
    <div class="profile_risk_card2">
        <div class="card1">
            <ul style="list-style-type: none;" class="details">
                <li>Name :</li>
                <li>Age :</li>
                <li>Geography :</li>
                <li>Balance :</li>
                <li>Products :</li>
                <li>Active Member :</li>
            </ul>
        </div>
        <div class="card2">
            <h3>Churn Probability :</h3>
        </div>
    </div>
{% endblock %}