{% extends "base.html" %}
{% block head_extra %}
    <link rel="stylesheet" href="{{url_for('static',filename='customer_lookup.css')}}">
    <script src="https://cdn.plot.ly/plotly-3.3.0.min.js"></script>
{% endblock %}

{% block content %}
    <div class="heading">
        <h2>Customer Lookup</h2>
    </div>
    <div class="form_container">
        <form method="post" action="/customer_lookup">
            <label>Customer ID</label>
            <input type="text" name="customer" class="input_field" placeholder="Enter Customer ID">
            <input type="submit" value="Search" class="btn">
        </form>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category,msg in messages %}
                <p class="{{category}}">{{msg}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="profile_risk_card1">
        <div class="card1">
            <ul style="list-style-type: none;" class="details">
                <li>Name :  {{profile[0]}}</li>
                <li>Age :  {{profile[1]}}</li>
                <li>Geography :  {{profile[2]}}</li>
                <li>Balance :  {{profile[3]}}</li>
                <li>Products :  {{profile[4]}}</li>
                <li>Active Member :  {{profile[5]}}</li>
            </ul>
        </div>
        <div class="card2">
            <h3>Churn Probability</h3>
            <ul style="list-style-type: none;" class="details">
                <li>Churn Probability :  {{profile[6]}}</li>
                <li>Risk Category :  {{profile[7]}}</li>
            </ul>
            {{profile[10] | safe}}
        </div>
    </div>
    <div class="profile_risk_card2">
        <div class="card1">
            <h3>Key Risk Factors</h3>
            <ul style="list-style-type: none;" class="details">
                <li>1. {{shap_factors[0]}}</li>
                <li>2. {{shap_factors[1]}}</li>
                <li>3. {{shap_factors[2]}}</li>
                <li>4. {{shap_factors[3]}}</li>
                <li>5. {{shap_factors[4]}}</li>
            </ul>
        </div>
        <div class="card2">
            <h3>Contact Priority Level</h3>
            <ul style="list-style-type: none;" class="details">
                <li>Contact Priority :  {{profile[8]}}</li>
                <li>Recommended Contact :  {{profile[9]}}</li>
            </ul>
        </div>
    </div>
{% endblock %}